{% extends 'base.html' %}
{% block content %}
<div class = 'jumbotron'>
    <h1></h1>
    <p>Add a new puppy to our database!</p>
    <form method = 'POST'>
        {{form.hidden_tag()}}
        {{form.employee.label}}{{form.employee}}<br>
        {{form.date.label}}{{form.date}}<br>
        {{form.product.label}}{{form.product}}<br>
        {{form.quantity.label}}{{form.quantity}}<br>
        {{form.year.label}}{{form.year}}<br>
        {{form.quarter.label}}{{form.quarter}}<br>
        {{form.submit()}}
    </form>
</div>
{% endblock %}